{% extends "layout.html" %}

{% block page_content %}
<h1>{{titulo}}</h1>
<br>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <form action="agregar_cliente" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="identificacion">Identificación</label>
        <input type="text" class="form-control" id="identificacion" name="identificacion" placeholder="Identificación">
      </div>
    </div>    
    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Carrera 20 # 10 - 10 Torre 5 Apartamento 5555">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
    </div>   
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
{% endblock %}