{% extends "layout.html" %}

{% block page_content %}
<h1>{{titulo}}</h1>
<br>
<table class="table">
   <thead class="thead-dark">
     <tr>
       <th scope="col">Id</th>
       <th scope="col">Nombre</th>
       <th scope="col">Usuario</th>
       <th scope="col">Rol</th>
       <th scope="col">Controles</th>
     </tr>
   </thead>
   <tbody>
     {% for usuario in usuarios %}
     
         <tr>
             <th scope="row">{{usuario.id}}</th>
             <td>{{usuario.nombre}}</td>
             <td>{{usuario.usuario}}</td>
             <td>{{usuario.rol}}</td>
             <td>
               <button type="button" class="btn btn-info">Editar</button>
               <button type="button" class="btn btn-danger">Borrar</button>
             </td>
         </tr>
      {% endfor %}
   </tbody>
 </table>
{% endblock %}

